body {
     font-family: sans-serif;
     background: #fff url("body_back.gif") repeat-x;
     margin: 15px;
}

	a:link { color: #039; }
        a:visited { color: #636; }
        a:hover { color: #333; }
        a:active { color: #000; }

div.content {
    margin: 0 230px 0 0;
/*
	padding-left: 0px;
	padding-right: 0px;
*/
}

h1 {
/*        height: 50px; */
	padding: 20px;

	font-weight: normal;
	letter-spacing: -2px;
	text-transform: lowercase;
	color: white;
	background: #455372 /* url("header_bl.png") repeat-x*/;
	-moz-border-radius: 12px;
}

h2, h3 {
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #cccccc;
   margin-left: 0;
}

h2 {
        font-size: 150%;
	font-weight: normal;
}

h3 {
	font-size: 120%;
}

h3 a {
	text-decoration: none;
}

h4 {
	margin: 1em 0 0 1em;
}

h4 a {
}

img.face {
	float: right;
	margin-top: -3em;
}

div.entry {
        margin: 0 0.5em 1em 1em;
}

div.entry p:first-child {
        margin-top: 0;
}

.entry .date {
	margin-top: 0.5em;
	text-align: right;
}


div.sidebar {
        position: absolute;
        top: 85px;
        right: 0px;

	width: 230px;

	margin-left: 0px;
	margin-right: 15px;

	padding-left: 0px;
	padding-right: 0px;

	padding-top: 20px;

	font-size: 70%;
}

.sidebar h2 {
	font-size: 150%;
	font-weight: bold;
	color: black;
	border-bottom-style: none;

	padding-left: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.sidebar ul {
	padding-left: 2em;
	margin-left: 0px;

	list-style-type: square;
}

.sidebar dl {
	padding-left: 5px;
	margin-left: 0px;
}

.sidebar dt {
	padding-top: 5px;
}

.sidebar dd {
	margin-left: 10px;
}

.sidebar ul li:hover {
	color: grey;
}

.sidebar div {
	padding: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 20px;
	margin-bottom: 10px;

	background: #e4ecec;
	-moz-border-radius: 1em;
}

a:hover {
	text-decoration: underline !important;
	color: blue !important;
}


/* template.css footer */

        #footer {
                border-top: 1px solid #666;
                margin: 2em 0;
                padding: 1em 0;
                text-align: center;
        }
        
        #footer ul {
                margin: 0;
                padding: 0;
                list-style: none;
        }
        
        #footer li {
                display: inline;
        }

        #footer span,#footer a {
                white-space: nowrap;
                padding: 0 1em;
        }
        
        #footer p span,#footer p a {
                white-space: nowrap;
                padding: 0 0.3em;
        }
        
        #footer span a {
                padding: 0;
        }
        
        #footer p,#footer p a {
                color: #666;
        }
        
        #footer p a:hover {
                color: #000;
        }


/* template_002.css */

        #footer {
                clear: both;
                margin-top: 1em;
        }
                
        #footer ul {
                margin: 0 0 1em 0;
                padding: 0;
        }
        
        #footer li {
                display: inline;
                padding: 0 20px 0 0;
                margin: 0;
                white-space: nowrap;
        }
        
        #footer p {
                margin: 0.6em 0;
        }

/* planet */

	#footer {
		margin-right: 0;
	}
